.main {
  position:absolute;
  left:10%;
  top:5%;
  height:85%;
  width:75%;
  float:none;
}

.menu {
  position:relative;
  top:2.5em;
  width:16%;
  float:left;
  background:#f4f4f4;
}

.menu_panel {
  position:relative;
  left:6pt;
  top:6pt;
}

.page {
  position:relative;
  top:2em;
  width:82%;
  height:85%;
  float:right;
  font-family:sans-serif;
  font-size:0.85em;
  background:white;
}

.page_panel {
  position:relative;
  left:6pt;
  top:6pt;
}
      
.header {
  height:10%;
  font-family:sans-serif;
  font-size:1.2em;
  font-weight:bold;
  color:black;
}

.header_panel_fixed_height {
  height:3em;
  background:#dcdcdc;
}

.header_panel {
  position:relative;
  left:1em;
  top:30%;
}

.menu_item {
  width:50%;
  padding-bottom:2em;
  font-family:sans-serif;
  font-size:0.9em;
}

a.menu_item_text {
  text-decoration:none;
  color:black;
}

a.menu_item_text:visited {
  text-decoration:none;
  color:black;
}

.list_item {
  height:5%;
  padding-bottom:1em;
}

.div_default {
  padding-bottom:1em;
}

.footer {
  position:absolute;
  float:none;
  bottom:5%;
  left:10%;
  width:75%;
  height:5%;
  font-family:sans-serif;
  font-size:8pt;
}

.copyright {
  position:relative; 
  float:left;
}

.updated {
  position:relative; 
  float:right;
}

